/* // Regular */
@font-face {
  font-family: 'Apercu';
  font-style: normal;
  font-weight: 400;
  src: url("./apercu/apercupro-regular/apercu_regular_pro.otf");
}

/* // Italic */
@font-face {
  font-family: 'Apercu';
  font-style: italic;
  font-weight: 400;
  src: url("./apercu/apercupro-regular-italic/apercu_regular_italic_pro.otf");
}

/* // Bold */
@font-face {
  font-family: 'Apercu';
  font-style: normal;
  font-weight: 600;
  src: url("./apercu/apercupro-bold/apercu_bold_pro.otf");
}

/* // Mono */
@font-face {
  font-family: 'Apercu Mono';
  font-style: normal;
  font-weight: 400;
  src: url("./apercu/apercupro-mono/apercu_mono_pro.otf");
}

.sans-serif {
  font-family: 'Apercu';
}